

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: neri_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  api:
    build: .
    command: npm run dev
    volumes:
      - ./:/usr/src/app
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:123@db:5432/neri_db
      - JWT_SECRET=troque_por_um_segredo_forte
      - PORT=3000
    depends_on:
      - db

volumes:
  db-data:
